## Python/Redis URL Shortener Service ##

###### Requirements without Version Specifiers ######
string
random
redis
base64
json
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability